.post {
  .image-container-full {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    img {
      width: 100%;
      max-width: 600px;
      height: auto;
    }
  }

  .post-meta {
    margin-bottom: 20px;
    .post-details {
      opacity: 0.6;
      .post-author {
        font-weight: bold;
      }
    }
  }

  .post-body {
    width: 80%;
    margin: auto;
    font-size: 1.1rem;
  }
}

@media(max-width: 768px) {
  .post {
    .post-body {
      width: 100%;
    }
  }
}