.social-links-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;

  div {
    margin-right: 10px;
    margin-right: 20px;
    font-size: 1.25rem;
    cursor: pointer;
    &:last-child {
      margin-right: 0;
    }
  }

  .social-links {
    display: flex;
    flex-direction: row;
    align-items: center;

    span {
      margin-right: 10px;
      margin-right: 20px;

      font-size: 2rem;
      cursor: pointer;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
