// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary: #3498db;

$light-faded: #ddd;
$animation-duration: 0.3s;
$drop-shadow: 1px 1px 1px 1px #ebebeb;

$liked-color: #ffac03;
